{% extends "layout.html" %}
{% block content %}
    <div role="main" class="container">
        <div>
            <h1>Announcement 1</h1>
            <p>
                Additional details
            </p>
        </div>
        <div>
            <h1>Announcement 2</h1>
            <p>
                Additional details
            </p>
        </div>
        <div>
            <h1>Announcement 3</h1>
            <p>
                Additional details
            </p>
        </div>
    </div>
{% endblock content %}